@using VideoVault.WebApi
@using Microsoft.Extensions.Localization
@using VideoVault.WebUI.Components.TreeView
@using VideoVault.WebUI.Components.MappingModal
@using VideoVault.WebUI.Models

@inject IStringLocalizer<App> L

<li class="node">
    <span class="node-label @(SelectedNode == Node ? "alert-primary" : "")">
        <span class="fa @IconClass" @onclick="@(SpanToggle)" @key=@($"toggle_{Node.Guid}")></span>
        <span @onclick="@(OnSetAsSelectedAsync)" @key=@($"select_{Node.Guid}")>@L[Node.FriendlyName]</span>
    </span>                        
    <span class="node-label l-3 fa fa-plus-square-o" @onclick="OnShowNewNodeModalAsync" @key=@($"add_{Node.Guid}")></span>
    <span class="node-label l-3 fa fa-trash-o" @onclick="OnDeleteNodeAsync" @key=@($"delete_{Node.Guid}")></span>
    <ul hidden="@HideChildren">
        @if (HasChildren) 
        {
            foreach (var child in Node.Children)
            {
                <CascadingValue Value="@AvailableNodes" Name="AvailableNodes" IsFixed="true">
                    <TreeNode Node="child" 
                              OnShowNewNodeModalClicked="@(OnShowNewNodeModalCallbackAsync)" 
                              OnSetAsSelected="@(OnSetAsSelectedCallbackAsync)" 
                              OnConfirmationRequired="@(OnConfirmationRequiredCallback)"
                              OnNodeDeleted="@(OnNodeDeletedCallbackAsync)" @key=child></TreeNode>
                </CascadingValue>
            }
        }
    </ul>
</Li>

@code {
    [Parameter]
    public MappingNodeDto Node { get; set; }
    
    [CascadingParameter(Name="AvailableNodes")]
    public List<MappingNodeDto> AvailableNodes { get; set; } 

    [CascadingParameter(Name="SelectedNode")]
    public MappingNodeDto SelectedNode { get; set; } 

    [Parameter]
    public EventCallback<MappingNodeDto> OnSetAsSelected{ get; set; }
  
    [Parameter]
    public EventCallback<MappingNodeDto> OnShowNewNodeModalClicked { get; set; }
    
    [Parameter]
    public EventCallback<ConfirmationArgumentsModel> OnConfirmationRequired { get; set; }
    
    [Parameter]
    public EventCallback<MappingNodeDto> OnNodeDeleted { get; set; }

    private string IconClass => HasChildren ? (HideChildren ? "fa-folder-o" : "fa-folder-open-o") : "fa-file-code-o";
    private bool HideChildren { get; set; } 
    private bool HasChildren => Node.Children?.Count != 0;
    
    private async Task OnShowNewNodeModalCallbackAsync(MappingNodeDto node)
    {
        await OnShowNewNodeModalClicked.InvokeAsync(node);
    }

    private async Task OnShowNewNodeModalAsync()
    {
        await OnShowNewNodeModalClicked.InvokeAsync(Node);
    }
    
    private async Task OnSetAsSelectedCallbackAsync(MappingNodeDto node)
    {
        await OnSetAsSelected.InvokeAsync(node);
    }
    
    private async Task OnConfirmationRequiredCallback(ConfirmationArgumentsModel confirmationArguments)
    {
        await OnConfirmationRequired.InvokeAsync(confirmationArguments);
    }

    private async Task OnSetAsSelectedAsync()
    {
        await OnSetAsSelected.InvokeAsync(Node);
    }

    private void SpanToggle()
    {
        HideChildren = !HideChildren;
    }

    private async Task OnNodeDeletedCallbackAsync(MappingNodeDto node)
    {
        bool DeleteNode()
        {
            Node.Children.Remove(node);
            return true;
        };

        await OnConfirmationRequired.InvokeAsync(new ConfirmationArgumentsModel()
        {
            Title = "Delete this node?",
            Message = "Are tiy sye?",
            OnConfirm = DeleteNode
        });
        //Node.Children.Remove(node);
    }


    private async Task OnDeleteNodeAsync()
    {
        await OnNodeDeleted.InvokeAsync(Node);
    }
}