@using Microsoft.Extensions.Localization
@using VideoVault.WebApi
@using Microsoft.AspNetCore.Components
@using VideoVault.WebUI.Components.AddNodeModal
@using VideoVault.WebUI.Components.ConfirmModal
@using VideoVault.WebUI.Models

@inject IStringLocalizer<App> L 
<div>
    @if (RootNode != null) 
    {
        <ul class="parentUl">
            <CascadingValue Value="@SelectedNode" Name="SelectedNode" IsFixed="true">
                <CascadingValue Value="@AvailableNodes" Name="AvailableNodes" IsFixed="true">
                    <TreeNode Node="RootNode"
                              OnShowNewNodeModalClicked="@(OnShowNewNodeModalCallback)"
                              OnConfirmationRequired="@(OnConfirmationRequiredCallback)"
                              OnSetAsSelected="@(OnSetAsSelectedCallback)"
                              @key=RootNode>

                    </TreeNode>
                </CascadingValue>
            </CascadingValue>
        </ul>
    }
</div>

<CascadingValue Value="@SelectedNode" Name="Node">
    <CascadingValue Value="@AvailableNodes" Name="AvailableNodes" IsFixed="true">
        <AddNodeModal @bind-IsVisible="ShowNewNodeModal" @bind-IsVisible:event="IsVisibleChanged"></AddNodeModal>
    </CascadingValue>
</CascadingValue>

<ConfirmModal @bind-IsVisible="ShowConfirmModal"
              @bind-IsVisible:event="IsVisibleChanged"
              ConfirmationArguments="ConfirmArguments">
</ConfirmModal>

@code {
    [Parameter]
    public MappingNodeDto RootNode { get; set; }
    
    [CascadingParameter(Name = "SelectedNode")]
    public MappingNodeDto SelectedNode { get; set; }

    [CascadingParameter(Name = "AvailableNodes")]
    public List<MappingNodeDto> AvailableNodes { get; set; }
    
    [Parameter]
    public ConfirmationArgumentsModel ConfirmArguments { get; set; }

    [Parameter]
    public EventCallback<MappingNodeDto> OnSetAsSelected{ get; set; }
    
    [Parameter]
    public EventCallback<ConfirmationArgumentsModel> OnConfirmationRequired{ get; set; }

    private bool ShowNewNodeModal { get; set; }
    private bool ShowConfirmModal { get; set; }
    public string SelectedNewNode { get; set; }
    
    private void OnShowNewNodeModalCallback(MappingNodeDto node)
    {
        SelectedNode = node;
        ShowNewNodeModal = true;
    }

    private void OnSetAsSelectedCallback(MappingNodeDto node)
    {
        SelectedNode = node;
        OnSetAsSelected.InvokeAsync(node);
    }
    
    private void OnConfirmationRequiredCallback(ConfirmationArgumentsModel args)
    {
        ConfirmArguments = args;
        ShowConfirmModal = true;
    }
}